<div class="contact-container">
  <div class="contact-content">
    <div class="left-section">
      <h1><strong>Let's <span class="span-element">Connect</span></strong></h1>
      <p>Whether it's a quick question or a new opportunity, I'm just a message away. Let's start the conversation.</p>
    </div>

    <div class="right-section">
      <form action="https://formspree.io/f/xdkgarwy" method="POST">
        <div class="form-group">
          <input type="text" name="name" placeholder="Name" class="form-control" required>
        </div>

        <div class="form-group">
          <input type="email" name="email" placeholder="Email" class="form-control" required>
        </div>

        <div class="form-group">
          <input type="tel" name="phone" placeholder="Phone No (optional)" class="form-control">
        </div>

        <div class="form-group">
          <input type="text" name="projectDescription" placeholder="Project Description (optional)" class="form-control">
        </div>

        <div class="form-group">
          <textarea name="message" placeholder="Your Message" rows="5" class="form-control" required></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="submit-btn">Send Message</button>
        </div>
      </form>

    </div>
  </div>

  <div class="background-graphic">
    <img class="contact-graphic" src="/assets/contact me gradient pattern-2.svg" alt="Contact-Section">
  </div>
</div>
