<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <a routerLink="/">Yash Mishra</a>
    </div>

    <ul class="footer-links">
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/about" class="active">About</a></li>
      <li><a href="/projects" class="active">Projects</a></li>
      <li><a href="/contact" class="active">Contact Me</a></li>

    </ul>

    <div class="footer-social">
      <a href="https://github.com/YashPrime-02" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/yashmishra02" target="_blank" aria-label="LinkedIn"><i
          class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Yash Mishra. All Rights Reserved.</p>
  </div>
</footer>
