<div class="home-container" [@fadeInAnimation]>

<!-- Hero Section -->
<section class="hero">
  <div class="container">
    <!-- <h1 class="hero-title">Elevating Digital Experiences</h1> -->
    <h1 class="hero-heading">
      Hello, I'm
      <span style="color: #4B0082;">
        <strong><i>{{ currentName }}</i></strong>
      </span>
    </h1>
    <p class="hero-subtitle">
      A Front-end developer who bridges design and technology to deliver innovative, user-centric solutions for global businesses.
    </p>


    <a href="/projects" class="btn btn-primary hero-btn" style="width: 180px; padding: 10px 20px; text-align: center;">
      Explore My Work
    </a>

    <a href="/contact" class="btn btn-primary hero-btn" style="width: 180px; padding: 10px 20px; text-align: center; margin-left: 20px;">
      Contact Me
    </a>



  </div>
</section>


  <!-- Counter Section -->
  <section class="stats-heading">
    <h2>Key Stats</h2>
  </section>

  <section class="stats-container">
    <div class="stats-card">
      <h3>{{ yearsOfExperience }}+ Years</h3>
      <p>Experience</p>
    </div>
    <div class="stats-card">
      <h3>{{ numberOfProjects }}+</h3>
      <p>Projects</p>
    </div>
    <div class="stats-card">
      <h3>{{ numberOfTechnologies }}+</h3>
      <p>Technologies</p>
    </div>
  </section>

  <!-- Technologies Section -->
  <section class="technologies-section">
    <h2>Technologies I've Worked on</h2>
    <div class="tech-icons">
      <div class="tech-icon" *ngFor="let tech of technologies">
        <img [src]="tech.icon" alt="{{ tech.name }}" />
        <p>{{ tech.name }}</p>
      </div>
    </div>
  </section>

  <!-- Testimonials Section -->
 <!-- Testimonials Section -->
 <section class="testimonials-section">
  <h2>What People Say</h2>
  <div class="testimonial-carousel">

    <div class="testimonial-track" #testimonialTrack>
      <div *ngFor="let testimonial of testimonials.concat(testimonials)" class="testimonial-card">
        <!-- <img [src]="testimonial.image" alt="{{ testimonial.name }}" class="testimonial-image" /> -->
        <p>"{{ testimonial.message }}"</p>
        <h4>- {{ testimonial.name }}</h4>
      </div>
    </div>

  </div>
</section>




</div>
