<div class="about-container">
  <!-- About Me Section -->
  <div class="container py-5">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-md-4 mb-4 text-md-start text-center ps-md-5">
        <div class="about-photo">
          <img src="assets/IMG_0450.JPG" alt="Yash's Photo"
            class="img-fluid rounded-circle border border-warning border-5" />
        </div>
      </div>
      <div class="col-md-6 text-md-start text-center ps-md-5">
        <div class="about-text">
          <h2>About Me</h2>
          <p>
            I'm Yash Mishra, a passionate front-end developer with expertise in building modern web applications using
            Angular, React, and other technologies.
          </p>
          <blockquote class="fst-italic" style="color: #f2c03d; margin-top: 10px;">
            "Design is not just what it looks like and feels like. Design is how it works." — Steve Jobs
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <!-- Experience Highlights -->
  <div class="experience-section text-center">
    <h3>Experience Highlights</h3>
    <ul>
      <p>Frontend Developer at Sion Semi & Sion AI</p>
      <p>Lead at National Entrepreneurship Team (AIR 27)</p>
      <p>Built multiple responsive web applications with modern UI/UX</p>
      <p>Expert in Bug fixing, deployment, and performance optimization</p>

    </ul>
  </div>

  <!-- Soft Skills -->
  <div class="soft-skills text-center">
    <h3>Soft Skills</h3>
    <ul>
      <p>Leadership & Team Management</p>
      <p>Effective Communication</p>
      <p>Problem Solving & Debugging</p>
      <p>Adaptability & Continuous Learning</p>

    </ul>
  </div>


  <!-- Certificates -->
  <div class="soft-skills text-center">
    <h3>Certificates</h3>
    <ul>
      <p>Leadership & Team Management</p>
      <p>Effective Communication</p>
      <p>Problem Solving & Debugging</p>
      <p>Adaptability & Continuous Learning</p>

    </ul>
  </div>
